<div>
        <label
          className="block text-sm font-medium text-gray-900"
          htmlFor="username"
        >
          Username
        </label>
        <input
          className="w-full appearance-none rounded border p-2 text-gray-700 shadow focus:outline-none"
          type="text"
          id="username"
        />
      </div>
      <div>
        <label
          htmlFor="country"
          className="block text-sm font-medium text-gray-900"
        >
          Country
        </label>

        <select
          id="country"
          name="country"
          className="block w-full rounded-md border-0 p-2 text-gray-900 shadow ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
        >
          <option>United States</option>
          <option>Canada</option>
          <option>Mexico</option>
        </select>
      </div>
      <div className="relative flex gap-x-3">
        <div className="flex h-6 items-center">
          <input
            id="comments"
            name="comments"
            type="checkbox"
            className="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
          />
        </div>
        <div className="text-sm leading-6">
          <label htmlFor="comments" className="font-medium text-gray-900">
            Comments
          </label>
          <p className="text-gray-500">
            Get notified when someones posts a comment on a posting.
          </p>
        </div>
      </div>

      <div className="col-span-full">
        <label htmlFor="about" className="block text-sm font-medium leading-6 text-gray-900">About</label>
        <div className="mt-2">
          <textarea id="about" name="about" rows="3" className="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
        </div>
        <p className="mt-3 text-sm leading-6 text-gray-600">Write a few sentences about yourself.</p>
      </div>